html, body {
  height: 100%;
  margin: 0;
}
#map {
  height: 100vh;
  width: 100vw;
}

/* Hover effect for ALL marker icons */
.leaflet-marker-icon {
  transition: transform 0.2s ease, filter 0.2s ease;
}

.leaflet-marker-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 6px #ffd700);
  cursor: pointer;
}

